@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: url("./images/background-17.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#start-game
{
  text-align: center;
}

body > h1, 
#start-game > h2
{
  color: #464040;
}

body > h1 
{
  font-weight: 900;
}

#start-game > h2
{
  font-weight: 400;
}

#start-game > button
{
  margin-top: 15px;
}

.track-game {
  text-align: center;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 #1a8948;
  display: flex;
  padding: 20px 50px;
  position: relative;
  margin: 100px 0 50px;
  z-index: 10;
}

#img-container {
  position: relative;
  width: 110px;
}

#img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

#img-container img {
  border-radius: 50%;
  object-fit: cover;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play #img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

#progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

#progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.quiz-button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
  color: #007bff;
  background: #fff;
}
.quiz-button:hover{
	color: #fff;
  background: #007bff;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

::selection{
    color: #fff;
    background: #007bff;
}
.start_btn,
.info_box,
.quiz_box,
.popup_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info_box.activeInfo,
.quiz_box.activeQuiz,
.popup_box.activePopup,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start_btn button{
    font-size: 25px;
    font-weight: 400;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 700;
}
.info_box .info-list{
    padding: 15px 30px;
}
.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info-list .info span{
    font-weight: 700;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.popup_box{
  width: 420px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.popup_box .popup-title{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 24px 10px 24px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 900;
}
.popup_box .popup-content{
  padding: 0px 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.popup_box .buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
  margin-bottom: 20px;
}
.popup_box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}


.buttons button.restart_popup{
  color: #fff;
  background: #007bff;
}
.buttons button.restart_popup:hover{
  background: #0263ca;
}
.buttons button.stay{
  color: #007bff;
  background: #fff;
}
.buttons button.stay:hover{
  color: #fff;
  background: #007bff;
}


.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 700;
}
.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}
.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 400;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}
section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
section .que_text{
    font-size: 25px;
    font-weight: 700;
}
section .option_list{
    padding: 20px 0px;
    display: block;   
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .option_list .option:last-child{
    margin-bottom: 0px;
}
section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
section .option_list .option.disabled{
    pointer-events: none;
}
section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
footer .total_que span{
    display: flex;
    user-select: none;
}
footer .total_que span p{
    font-weight: 400;
    padding: 0 5px;
}
footer .total_que span p:first-child{
    padding-left: 0px;
}
footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
footer button:hover{
    background: #0263ca;
}
footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 700;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 700;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.buttons button.nextsong{
    color: #fff;
    background: #007bff;
}
.buttons button.nextsong:hover{
    background: #0263ca;
}
.buttons button.restart{
    color: #007bff;
    display: none;
    background: #fff;
}
.buttons button.restart:hover{
    color: #fff;
    background: #007bff;
}
.buttons button.start{
  color: #007bff;
  background: #fff;
}
.buttons button.start:hover{
  color: #fff;
  background: #007bff;
}

.upper-buttons{
	position:fixed;
	right:0;
  top: -70px;
}

.floating-button{
  display:inline-block;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: 10px;
}

.icon-button {
  fill: #007bff;
}

.icon-button:hover{
  fill: #0263ca;
}

.close-button{
  display:inline-block;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: auto;
  margin-right: 0;
  font-size: 17px;
}